.about{
    padding: 5%;
    text-align: center;
    
    background-color: rgb(49, 49, 49);
}
.about .heading h2{
    font-size: 1.2rem;
    padding-bottom:10px ;
    color:rgb(147, 159, 160);
    @media screen and (max-width: 900px) {  
        font-size: 1.2rem;      
     }
}
.about .heading h1{
    font-size: 1.5rem;
    padding-bottom:10px ;
    color: white;
    @media screen and (max-width: 900px) {  
        font-size: 1.2rem;      
     }
}
.about .about_info{
    display: flex;
    padding: 5%;
    // justify-content: space-around;
    // background-color: bisque;
    @media screen and (max-width: 900px) {  
        display: grid;   
       
     }
}
.about_bio{
    width: 60%;
    padding-right: 5%;
    text-align: left;
    
    @media screen and (max-width: 900px) {  
        width: 100%;  
    
     }
}
.about_bio h1{
    padding-bottom: 20px;
    font-size: 1.2rem;
    color: rgb(177, 177, 197);
    @media screen and (max-width: 900px) {  
        font-size: 1rem;   
        text-align: left;
     }
}
.about_bio p{
    font-size: 1.2rem;
    font-weight: 100;
    letter-spacing: 1px;
    word-spacing: 3px;
    color: white;
    // font-family: 'Courier New', Courier, ;
    font-family: serif;
    @media screen and (max-width: 900px) {  
        font-size: 1rem;   
       
     }
}
.about_skills{
    width: 50%;
    padding-right: 6%;
    text-align: left;
    
    @media screen and (max-width: 900px) {  
        width: 100%;  
       
     }
    
}


.about_skills img{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    // background-color: red;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 10px black;
}
